body {
  background-image: url('https://gifypet.neocities.org/pet/backgrounds/paper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
  font-family: Courier;
}